templates/deploylogicappgetroutes.template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflowsName": {
            "defaultValue": "melbourneairportdevlogicappgetroutes1",
            "type": "String"
        },
        "azureTablesConnectionId": {
            "defaultValue": "[resourceId('Microsoft.Web/connections', 'azuretables')]",
            "type": "String"
        },
        "azureTablesId": {
            "defaultValue": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuretables')]",
            "type": "String"
        },
        "bingMapsConnectionId": {
            "defaultValue": "[resourceId('Microsoft.Web/connections', 'bingmaps')]",
            "type": "String"
        },
        "bingMapsId": {
            "defaultValue": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'bingmaps')]",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflowsName')]",
            "location": "australiasoutheast",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {
                                "Get_route": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": {
                                "Body": "@string(body('Get_route'))"
                            }
                        },
                        "Get_route": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['bingmaps']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/V3/REST/V1/Routes/@{encodeURIComponent('Driving')}",
                                "queries": {
                                    "avoid_borderCrossing": false,
                                    "avoid_ferry": false,
                                    "avoid_highways": false,
                                    "avoid_minimizeHighways": false,
                                    "avoid_minimizeTolls": false,
                                    "avoid_tolls": false,
                                    "wp.0": "Melbourne VIC 3000",
                                    "wp.1": "Melbourne Airport VIC 3045"
                                }
                            }
                        },
                        "Insert_or_Merge_Entity_(V2)": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@outputs('Compose')",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuretables']['connectionId']"
                                    }
                                },
                                "method": "patch",
                                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('bingmaps')}/entities(PartitionKey='@{encodeURIComponent('1')}',RowKey='@{encodeURIComponent('1')}')"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuretables": {
                                "connectionId": "[parameters('azureTablesConnectionId')]",
                                "connectionName": "azuretables",
                                "id": "[parameters('azureTablesId')]"
                            },
                            "bingmaps": {
                                "connectionId": "[parameters('bingMapsConnectionId')]",
                                "connectionName": "bingmaps",
                                "id": "[parameters('bingMapsId')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}